<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Love to Hear From You</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content.</p>

                <div class="find-widget">
                 Company:  <a routerLink="/home">Vamsikart</a>
                </div>
                <div class="find-widget">
                 Address: <a href="https://www.google.com/maps/@16.2591301,80.9147383,17.25z">1-92 Kuchipudi </a>
                </div>
                <div class="find-widget">
                  Phone:  <a href="https://google.com/+917981338118">+91 798-133-8118</a>
                </div>
                
                <div class="find-widget">
                  Website:  <a href="https://vamsilearnings.business.site">www.vamsilearnings.business.site</a>
                </div>
                <div class="find-widget">
                  Timings: Mon to Sat: 09:30 AM - 10.30 PM
                </div>
              </div>
              <!-- contact form -->
              