<ngx-spinner type="ball-spin-clockwise" size="default" bdColour="rgba(51,51,51,0.8)">
  <p style="color: white;">Please wait..</p>
</ngx-spinner>
<div class="row">

  <div class="col-lg-3 ">


    <app-item-category></app-item-category>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">


    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of items">
        <div class="card h-100" style="display: flex;">
          <a routerLink="/searchitem/{{item.id}}"><img class="card-img-top" [src]="item.imageurl" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/searchitem/{{item.id}}">{{item.name}}</a>
            </h4>
            <h5>{{item.unitprice| currency:'INR'}}</h5>
            <p class="card-text text-truncate">{{item.description}}</p>
          </div>
          <div class="card-footer">
            <small class="btn btn-warning float-right rounded rounded-pill font-weight-bold" (click)="addToCartO(item)">Add to cart</small>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="items?.length==0" class="col-md-12 alert alert-danger mt-3">
     ' no items found '
    </div>
<!-- <jw-pagination   [itmes]="items" 
                 (changePage)="pageClick($event)" [pageSize]=6
>
</jw-pagination>

 -->

    <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->