<div class="row">
    <div class="col-md-3">
        <app-item-category></app-item-category>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="cartItems.length>0">


                    <table class="table table-bordered ">
                        <thead class="bg-dark">
                            <tr>
                                <td align="center" width=20% style="color: white;">Item </td>
                                <td align="center" width=50% style="color: white;" class="font-weight bold">Item Details
                                </td>
                                <td align="center" width=30%></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of cartItems">
                                <td>
                                    <img [src]="cartItem.imageurl" class="image-responsive" style="size: 100px;">
                                </td>
                                <td class="font-weight bold">
                                    <p>{{cartItem.name}}</p>
                                </td>
                                <td>
                                    <div class="row ">

                                        <div class="col-md-12">
                                            <p>Quantity:
                                                <span (click)="remove(cartItem)"class="float-right pointer text-danger">
                                                    <i class="fas fa-trash-alt"></i>

                                                </span>
                                            </p>

                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-secondary btn-sm float-left" (click)="increment(cartItem)"><i class="fa fa-plus"></i></button>



                                        </div>
                                        <div class="col-md-4 font-weight-bold text-center">  {{cartItem.quantity}}</div>
                                        <div class="col-md-4">
                                            <div class="col-md-4">
                                            <button class="btn btn-secondary btn-sm float-left" (click)="decrement(cartItem)"><i class="fa fa-minus"></i></button>



                                        </div>
                                        </div>

                                        <div class="col-md-12 mt-2">
                                            <p style="font-weight: bold;">Subtotal:{{cartItem.quantity*cartItem.unitprice|currency:'INR'}}</p>

                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="font-weight-bold">
                                    <p>Pay: {{totalPrice|currency:'INR'}}</p>
                                    <a routerLink="/checkout" class="btn btn-primary">Checkout</a>

                                </td>

                            </tr>

                        </tbody>



                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary " style="width: 200px;align-items:center;">Proceed to
                                payment
                            </button>
                        </div>

                    </div>







                </div>
                <div *ngIf="cartItems.length==0" class="alert alert-warning">
                    cart is empty
                </div>
            </div>
        </div>


    </div>


</div>